@*@{
    ViewData["Title"] = "Description";
}

<h1>Описание</h1>
<p>Този проект има за цел да менажира потребители. Той има функциите на създаване, редактиране или изтриване.</p>*@


@*@model IEnumerable<ContactsApp.Models.Contact>

@{
    ViewData["Title"] = "Contacts";
}

<h1></h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
     
    </tbody>
</table>
*@